.trailers {
  display: flex;
  overflow-x: scroll;
  background-color: #19213f;
  // padding: 50px 0;
  overflow-y:hidden;
}

@media screen and (max-width: 768px) {
  .trailer {
    flex-basis: 0;
  }
  .trailers {
    overflow-x: hidden;
    flex-wrap: wrap;
    align-items: center;
  }
}
