/* You can add global styles to this file, and also import other style files */

/*
  #CSS RESET
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* # Border box
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
* #Sticky Foooter
*/

.page-wrap, html, body {
  height:100%;
  margin:0;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

p {
  line-height: 145%;
}
body {
  font-family: 'Exo', sans-serif;
}

/*
  # Styling Scroll bar
*/

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #090d1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bb9ab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bb9ab;
}
.discover-header {
  padding:30px 50px;
  background-color:#222d58;
  span {
    color:white;
    margin-right:10px;
  }
}