img:hover {
  filter: grayscale(100%);
  transition: 1s;
}
.trailer-link {
  position: relative;
  display:block;
}

.trailer-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #19213f;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.trailer-link:hover .trailer-overlay {
  opacity: 1;
}

.trailer-overlay-box {
  padding-left:25px;
  padding-right:25px;
}
.trailer-title {
  margin-bottom:15px;
  color:#5BB9AB;
  font-weight:600;
}
.trailer-description {
  color:white;
  line-height:145%;
}